/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --border-radius-kbcolours: 3px;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --header-page-margin-kbcolours: 5px 15px 10px 15px;
    --page-margin-kbcolours: 0px 15px 0px 15px;
    --title-margin-kbcolours: 0px 15px 0px 15px;
    --button-background-delete: #D05C84;
    --link-color-primary: #36C;
    --blue-icon-dark: #034CA6;
    --panel-background-kbcolours: #EEEEEE;
    --box-shadow-kbcolours: 1px 1px 1px 0px #000;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

div, a, details, summary, i, img, table, tr, .btn-uninstall, svg, figure {
    transition: ease-in-out all .3s;
}

a:hover { color: var(--pp-red-alt-2) !important; }

.display-none, .d-none { display: none !important;}

.font-weight-bold { font-weight: bold; }

.text-center { text-align: center; }

.relative { position: relative; }

.kbc-page-header {
    margin: var(--header-page-margin-kbcolours);
}

.kbc-page-header h2 svg {
    vertical-align: sub;
    /*width: 1.4em;*/
    height: 1em;
    margin-right: 3px;
}

.colour-section {
    margin-bottom: 20px;
}

.colour-section ul {
    position: relative;
}

.colour-section ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.colour-wrapper {
    border: 1px solid var(--pp-black);
    padding: 5px;
    width: 150px;
    margin: 5px;
    display: inline-block;
    border-radius: var(--border-radius-kbcolours);
    /*height: 6em;*/
    vertical-align: middle;
    box-sizing: content-box;
}

.colour-boxes {
    margin: auto;
    display: block;
    text-align: center;
}

.colour-name {
    text-align: left;
    font-weight: 600;
    display: block;
    font-size: .85em;
}

.colour-background {
    text-align: left;
    display: block;
}

.colour-background span, .colour-border span {
    display: block;
    font-size: .8em;
    margin-top: 5px;
}

.colour-background code, .colour-border code {
    display: block;
    width: fit-content;
    margin: 3px 0 0 0 !important;
    color: var(--pp-black) !important;
    background-color: rgb(179, 179, 179) !important;
    text-rendering: optimizelegibility;
    font-family: Monospace !important;
    letter-spacing: 0.06rem;
    padding: 1px 3px 3px 3px !important;
    border-radius: var(--border-radius-kbcolours);
    font-size: 0.9em !important;
}

.colour-border {
    text-align: left;
    display: block;
}

.default-box-colour {
    padding: 2px 10px;
    border-radius: var(--border-radius-kbcolours);
    border: 1px solid var(--pp-black);
    box-shadow: var(--box-shadow-kbcolours);
    margin-left: 5px;
}

.note {
    font-size: .8em;
    font-style: italic;
}

div.note > a.note-link {
    font-weight: 600;
}

.kbc-section {
    margin-top: 20px;
}

.total-count {
    font-size: .6em;
    vertical-align: super;
    margin-left: 5px;
    padding: 1px 3px;
    background-color: var(--pp-green-dark);
    border-radius: var(--border-radius-kbcolours);
    color: var(--pp-white);
}

.color-picker-square {
    border-left-width: 15px;
}

select#form-default_color option[value="yellow"], option[value="yellow"] {
    background-color: rgb(245, 247, 196);
    border-color: rgb(223, 227, 45);
}

select#form-default_color option[value="blue"], option[value="blue"] {
    background-color: rgb(219, 235, 255);
    border-color: rgb(168, 207, 255);
}

select#form-default_color option[value="green"], option[value="green"] {
    background-color: rgb(189, 244, 203);
    border-color: rgb(74, 227, 113);
}

select#form-default_color option[value="purple"], option[value="purple"] {
    background-color: rgb(223, 176, 255);
    border-color: rgb(205, 133, 254);
}

select#form-default_color option[value="red"], option[value="red"] {
    background-color: rgb(255, 187, 187);
    border-color: rgb(255, 151, 151);
}

select#form-default_color option[value="orange"], option[value="orange"] {
    background-color: rgb(255, 215, 179);
    border-color: rgb(255, 172, 98);
}

select#form-default_color option[value="grey"], option[value="grey"] {
    background-color: rgb(238, 238, 238);
    border-color: rgb(204, 204, 204);
}

select#form-default_color option[value="brown"], option[value="brown"] {
    background-color: #D7CCC8;
    border-color: #4E342E;
}

select#form-default_color option[value="deep_orange"], option[value="deep_orange"] {
    background-color: #FFAB91;
    border-color: #E64A19;
}

select#form-default_color option[value="dark_grey"], option[value="dark_grey"] {
    background-color: #CFD8DC;
    border-color: #455A64;
}

select#form-default_color option[value="pink"], option[value="pink"] {
    background-color: #F48FB1;
    border-color: #D81B60;
}

select#form-default_color option[value="teal"], option[value="teal"] {
    background-color: #80CBC4;
    border-color: #00695C;
}

select#form-default_color option[value="cyan"], option[value="cyan"] {
    background-color: #B2EBF2;
    border-color: #00BCD4;
}

select#form-default_color option[value="lime"], option[value="lime"] {
    background-color: #E6EE9C;
    border-color: #AFB42B;
}

select#form-default_color option[value="light_green"], option[value="light_green"] {
    background-color: #dcedc8;
    border-color: #689F38;
}

select#form-default_color option[value="amber"], option[value="amber"] {
    background-color: #FFE082;
    border-color: #FFA000;
}
